@media screen and (max-height: 360px) {
	.button-position{
		display: none;
	}
}
@media screen and (max-height: 567px) {
	.header__image-bottom {
		display: none;
	}
}

@media screen and (max-height: 1367px) {
	.devolopment_position {
		top: 26%;
	}	
}

@media screen and (max-width: 1920px) {
}

/*1369 px - 1600 px */
@media screen and (max-width: 1600px) {

}

/*1369 px - 1600 px */
@media screen and (max-width: 1369px) {

}

/*961 px - 1368 px */
@media screen and (max-width: 1100px) {
	.header__image-bottom {
		width: 100%;
		left:-3%;
		margin:0;
	}
	.image {
		width: 300px;
	}
	.choose-us-item {
		margin-left: 50px;
	}
	.contact-us {
		margin: 0 auto;
	}
	.letter {
		width: 100%;
		background: none;
	}
}

/*769 px - 960 px */
@media screen and (max-width: 960px) {
	.header__menu {
		display: none;
	}
	.image{
		display: none;
	}
	.devolopment_position{
		position: relative;
		margin:0 auto;
		left:0;
		padding-top: 50px;
		padding-bottom: 30px;
		width: 90%;
	}
	.development-text h1{
		text-align: center;
	}
	.box-choose-us {
		width: 60%;
		flex-wrap: wrap;
		align-items: center;
  		justify-content: space-between;
  		margin: 0 auto;	
	}
	.choose-us-item {
		margin-left:0;
		margin-bottom: 40px;
	}
	.services {
		display: flex;
		justify-content: space-between;
	}
	.services_item{
		margin-bottom: 20px;
		margin-right: 0px;
	}
}

/*481 px - 768 px */
@media screen and (max-width: 768px) {
	.container{
		margin: 0 5%;
		width: 90%;
		}
	.header__text-banner{
		position: relative;
		font-size: 40px;
		width: 100%;
		top: 35%;
		margin: 0;
		left: 0;
	}
	.button-position {
		top:50%;
	}
	.services {
		flex-direction: column;
  		align-items: center;
  		justify-content: center;
	}

	.box-choose-us {
		width: 400px;
		justify-content: space-between;
		align-items: center;
	}
	.box-about-apps{
		padding-bottom: 50px;
	}
	.image-about-apps{
		display: none;
	}
	.text-about {
		position: relative;
		width: 100%;
		margin: 0 auto;
		left: 0;
		background: #FFF;
		padding: 20px 30px;
	}
	.letter{
		padding-left: 30px;
		padding-right: 30px;
	}
}

/*320 px - 480 px */
@media screen and (max-width: 480px) {
	.header__text-banner{
		font-size: 30px;	
	}	
	.box-choose-us {
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
