body{
	font-family: Lato, Arial, sans-serif;
	color: #fff;
	padding:0;
	margin: 0;
	font-size: 15px;
}

@font-face {
    font-family: Lato; /* Гарнитура шрифта */
    src: url(../maket1/Lato2OFL/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
}

div{
	box-sizing: border-box;
}

.container{
	position: relative;
	margin: 0 10%;
}

.upper{
	text-transform: uppercase;
}

.align{
	text-align: center;
}

.white{
	color: white;
}

.gray{
	color:#505050;
}

.black{
	color:#171717;
}

/************************header*************************/

header{
   background: url(/maket1/img/bg.png) no-repeat center bottom / cover;
   position: relative;
   height: 100vh;
}

.header .container{
	height: 100vh;
}

.header__logo{
	position: absolute;
	left:0;
	top:0;
	padding-top: 3vh;
}

.header__menu{
	position: absolute;
	right: 0;
	top:0;
	padding-top: 4vh;
	display: flex;
	justify-content: right;
}

.header__menu-list{
	display: flex;
}

.header__menu-list li{
 	list-style: none;
 	font-size: 1.1em;
}

.header__menu-list a{
	text-decoration: none;
	margin-right: 30px;
}

.header__text-banner {
	font-size: 50px;
	font-weight: bold;
	position: absolute;
	top:25%;
	left: 50%;
	margin-top: 29px;
	margin-left: -335px;
	width: 680px;
}

.button-position{
	top:41%;
	left:50%;
	position: absolute;
	margin-left: -90px;
	margin-top: 27px;
	margin-bottom: 44px;
}

.button{
    background-image: -moz-linear-gradient( 90deg, rgb(163,208,43) 0%, rgb(208,249,35) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(163,208,43) 0%, rgb(208,249,35) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(163,208,43) 0%, rgb(208,249,35) 100%);
 	border-radius: 60px;
 	width: 184px;
	padding: 17px 0;
 	font-weight: bold;
 	font-size: 15px;
 	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.29);
 	color: white;
 	text-transform: uppercase;
 	font-family: Lato;
 	border: none;
 	cursor: pointer;
 }

.button:hover{
	background: #e2ff71;
}

.header__image-bottom{
	position: absolute;
	left:50%;
	bottom: 0;
	margin-left: -541px; 
	width: 1030px;
	display: block;
}
/****************************************************/

/********************section 2***********************/
.image{
	padding-top: 13vh;
	display: block;
	margin-bottom: 96px;
}

.devolopment_position{
	position: absolute;
	width: 531px;
	top: 27%;
	left: 40%;
	text-align: justify;
}

.development-text h1{
	font-size: 28px;
	margin-bottom: 25px;
}

.development-text p{
	word-spacing: -2px;
	margin: 0;
}	

.services {
	margin-top: 52px;
}

.services_item{
	float: left;
	margin-right: 56px;
	margin-left: 5px;
}

.services_item h3{
	font-size: 14px;
}

.services_item:last-child{
	margin-right: 0;
}

.circle {
	position: relative;
	border-radius: 50%;
  	background-color: rgb(167, 205, 44);
  	width: 127px;
  	height: 127px;
  	padding-top: 34px;
}

img .circle_responsive {
	position: absolute;
	left:50%;
}
/****************************************************/

/********************section 3***********************/
.Why-choose-us{
	background-color:#462762;
	padding-bottom: 117px;
	padding-top: 127px;
}

.choose-us h3{
	font-size: 28px;
	margin: 0;
}

.box-choose-us{
	padding-top: 120px;
	display: flex;
	justify-content: space-between;
}

.choose-us-item{
	margin-left: 80px;
	width: 173px;	
}

.choose-us-item:first-child{
	margin-left: 0;
}

.choose-us-item h3{
	font-size: 15px;
	margin:43px 0 0 0;
}
/****************************************************/

/********************section 4***********************/
.box-about-apps{
	background: url(../maket1/img/limon.png) no-repeat center bottom / cover;
	padding-top: 28px;
}

.about-apps {
	position: relative;
}

.about-apps img {
	display: block;
	margin: 0 auto;
}

.text-about{
	width: 414px;
	position: absolute;
	top:0;
	left: 50%;
	margin-top: 207px;
	margin-left: -197px;
}

.text-about h1{
	font-size: 28px;
	margin-bottom: 80px;
}

.text-about p{
	font-size: 15px;
	word-spacing: -1px;
	margin-top: 28px;
}

.about-apps-footer {
	margin-top: 26px;
	line-height: 1.8;
}

.about-apps-footer span{
	font-weight: bold;
}
/****************************************************/

/********************section 5***********************/
.contact-us{
	background: #19a8ce;
	padding-top: 50px;
}


.letter {
	background: url("../maket1/img/letter.png") no-repeat  bottom / cover;
	margin: 0 auto;
	padding: 57px 92px 0px 92px;
	box-sizing: border-box;
	width: 854px;
	height: 452px;
}

.letter__titile{
	margin-bottom: 44px;
}

.contact-us .button{
	display: block;
	margin: 55px auto 0px auto;

}

::-webkit-input-placeholder { /* WebKit browsers */
   color:#FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#FFF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#FFF;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:#FFF;
}

.input__none{
	width:100%;
	display: block;
	border: 0px;
	padding: 10px 0;
	border-bottom: 2px solid white;
	outline: 0;
	background: transparent;
	font-family: Lato;
	font-size: 15px;
	color: #FFF;
}

textarea{ 	
 	border:none;
 	background-color: transparent;
	width: 100%;
 	resize: none;
 	outline:0;
 	font-size: 15px;
 	color: #fff;
 	padding: 10px 0;
}
/****************************************************/

/*******************footer***************************/
.footer{
	background: #462762;
	padding: 32px 0;
	font-size: 13px;
	color:#8c759f;
	box-sizing: border-box;	
}

.footer__text{
	display: flex;
	justify-content: space-between;
}
